.home-container{
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 50px;
    /* height: 100vh; */
}

.home-header{
    height: 100px;
    background-color: #2C9A6C;
    color: white;
    padding: 20px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom:30px ;
}
.board-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
}